blinker==1.8.2
click==8.1.7
colorama==0.4.6
et-xmlfile==1.1.0
Flask==3.0.3
flask-cors==4.0.0
flask-limiter==3.5.0
gunicorn==22.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==2.1.1
openpyxl==3.1.5
pandas==2.2.2
pip==24.0
python-dateutil==2.9.0.post0
pytz==2024.2
setuptools==70.0.0
six==1.16.0
tzdata==2024.1
Werkzeug==3.0.6
